<ion-header>
  <ion-toolbar style="--background: #3880ff; color: #fff;">
    <ion-title style="font-size: 20px;">Alta de Productos</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" routerLink="/login" class="back-button">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <ion-grid style="background-color: #f4f4f4;">
      <ion-row color="primary">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-card class="auth-card ion-margin" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
            <ion-list>

              <ion-segment formControlName="selectedType" (ionChange)="cargarDatos()">
                <ion-segment-button value="empleado">
                  Empleado
                </ion-segment-button>
                <ion-segment-button value="cliente">
                  Cliente
                </ion-segment-button>
              </ion-segment>

              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input formControlName="nombre" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Edad</ion-label>
                <ion-range formControlName="edad" min="18" max="65" pin="true"></ion-range>
              </ion-item>

              <ion-item>
                <!-- Los radio buttons deberán adaptarse usando formControlName -->
              </ion-item>

              <ion-item *ngIf="formulario.get('selectedType')?.value === 'empleado'">
                <ion-label>Puesto</ion-label>
                <ion-select formControlName="puesto">
                  <!-- opciones del select -->
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Preferencia</ion-label>
                <ion-checkbox formControlName="preferencia" slot="start"></ion-checkbox>
              </ion-item>

            </ion-list>
            <ion-button expand="block" type="submit">Enviar</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>