<ion-content>
  <ion-button routerLink="/login"></ion-button>
  <form (ngSubmit)="enviarEncuesta()" style="background-color: #faedcd">
    <ion-grid style="background-color: #faedcd;">
      <ion-row color="primary">
        <ion-col align-self-center size-md="8" size-lg="6" size-xs="12">
          <ion-card class="auth-card ion-margin">
            <ion-list style="padding: 10px;">
              <ion-row>
                <ion-col>
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" [(ngModel)]="encuesta.nombre"
                    placeholder="Nombre del empleado" style="margin-bottom: 20px;">
                </ion-col>
              </ion-row>
              <ion-col>
                <label>¿Ingresaste o egresaste?</label>
                <select id="clienteoempleado" name="clienteoempleado" [(ngModel)]="encuesta.clienteoempleado"
                  style="margin-bottom: 30px;">
                  <option value="Ingresaste">Ingresaste</option>
                  <option value="Egresaste">Egresaste</option>
                </select>
              </ion-col>
              <ion-row>
                <ion-col>
                  <label for="valoracion">¿Estas cómodo con el ambiente?:</label>
                  <input type="range" id="valoracion" name="valoracion" [(ngModel)]="encuesta.valoracion" min="0"
                    max="10" style="margin-bottom: 30px;">
                  <span>{{ encuesta.valoracion }}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <label for="nivel-satisfaccion">Nivel de Satisfacción con tus compañeros:</label>
                  <div>
                    <input type="radio" id="muySatisfecho" name="nivelSatisfaccion"
                      [(ngModel)]="encuesta.nivelSatisfaccion" value="5">
                    <label for="muySatisfecho">Muy Satisfecho</label>
                    <input type="radio" id="satisfecho" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion"
                      value="4">
                    <label for="satisfecho"> Satisfecho</label>
                    <input type="radio" id="normal" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion"
                      value="3">
                    <label for="normal">Normal</label>
                    <input type="radio" id="regular" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion"
                      value="2">
                    <label for="regular">Regular</label>
                    <input type="radio" id="pesimo" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion"
                      value="1">
                    <label for="pesimo"> Pesimo</label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <label for="recomendar" style="margin-bottom: 20px;">¿Dejaste en condiciones el espacio de
                    trabajo?</label>
                  <input type="checkbox" id="recomendar" name="recomendar" [(ngModel)]="encuesta.recomendar">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <label for="imagen" style="margin-bottom: 20px;">Imagen relacionada:</label>
                  <input type="file" id="imagen" name="imagen" (change)="onFileChange($event)" accept="image/*"
                    style="margin-bottom: 20px;">
                  <!-- Agregar botón para permitir omitir la carga de la imagen -->
                  <button type="button" (click)="omitirCargaImagen()" style="margin-bottom: 20px;">Omitir carga de
                    imagen</button>
                  <!-- Mostrar la imagen seleccionada -->
                  <img *ngIf="encuesta.imagen" [src]="encuesta.imagen" alt="Imagen relacionada" style="max-width: 100%;">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button type="submit" style="width: 100%; margin-top: 30px;">Enviar Encuesta</button>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
