
/* Estilo cuando la tarjeta está volteada */
.card.flipped {
  transform: rotateY(180deg);
}

/* Estilo para la tarjeta emparejada */
ion-card.matched {
  pointer-events: none;
  visibility: hidden;
}

/* Estilo para la imagen en la tarjeta */
.card img {
  width:260px;
  height: 260px;
}

/* Estilo para el tablero (la cuadrícula de tarjetas) */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 10px;
  padding: 10px;
}

/* Estilo para los botones de reinicio y finalización */
ion-button {
  margin: 10px 0;
}

ion-toolbar {
  text-align: center;
}

ion-toolbar,
ion-card {
  --background: #fefae0;
}

ion-input,
ion-content,
ion-item {
  --background: #faedcd;
}

ion-fab-button,
ion-button {
  --background: #d0a933;
}
