<ion-header>
  <ion-toolbar>
    <ion-title>Memotest</ion-title>
    <ion-buttons slot="start" >
      <ion-button color="dark" (click)="atras()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header [translucent]="true">
    <div class="timer" style="font-size: 20px;">
      Tiempo: {{ timer }} segundos
    </div>
  </ion-header>
<div class="card-grid">
  <div *ngFor="let row of cardRows" class="card-row">
    <div *ngFor="let card of row" class="card" (click)="flipCard(card)">
      <img [src]="card.flipped || card.matched ? card.image : 'assets/memotest/reverso.jpg'" alt="Card Image">
    </div>
  </div>
</div>
<!-- Agrega esto en tu plantilla HTML -->

</ion-content>