/* Estilos para ion-header y ion-toolbar */
ion-header {
  ion-toolbar {
    --background: #fefae0; /* Color de fondo */
    color: black; /* Color del texto */
  }

  
  ion-img {
    border-radius: 15px;
    object-fit: cover;
  }
  .back-button {
    color: #fff; /* Color del botón de regreso */
  }

  ion-title {
    font-size: 20px; /* Tamaño del título */
  }
}

/* Estilos para ion-content */
ion-content {
  ion-grid {
    background-color: #faedcd; /* Color de fondo del ion-grid */
  }

  ion-card {
    background-color: #fefae0; /* Color de fondo de la tarjeta */
    padding: 20px;
    border-radius: 10px; /* Ajustar borde de la tarjeta */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
  }


  .photo-upload-container {
    background-color: #faedcd;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    margin: 10px 0;
  }

  label[for="foto1"],
  label[for="foto2"],
  label[for="foto3"] {
    background-color: #D0A933;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  label[for="foto1"]:hover,
  label[for="foto2"]:hover,
  label[for="foto3"]:hover {
    background-color: #FFC300;
  }
  
  ion-button[type="submit"] {
    margin-left: 25%;
    width: 50%;
  }
}


ion-fab-button,
ion-button {
  --background: #d0a933;
}

ion-toolbar {
  text-align: center;
}

ion-toolbar,
ion-card {
  --background: #fefae0;
}

ion-input,
ion-content,
ion-item {
  --background: #faedcd;
}


ion-img {
  border-radius: 15px;
  object-fit: cover;
}