ion-toolbar {
  text-align: center;
}

ion-toolbar,
ion-card {
  --background: #fefae0;
}

ion-input,
ion-content,
ion-item {
  --background: #faedcd;
}

ion-fab-button,
ion-button {
  --background: #d0a933;
}

.foto-scroll {
  display: flex;
  overflow-x: auto;
  margin: 5px;
  white-space: nowrap;
}

.foto-scroll img {
  max-width: 100%;
  height: auto;
  margin-right: 10px; /* Espacio entre las imágenes (ajústalo según sea necesario) */
}
