<ion-header>
  <ion-toolbar>
    <ion-title>Encuestas previas</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="atras()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!cargando">
    <ion-row color="primary">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center></div>
        <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
         
          <div *ngFor="let encuesta of encuestas">
            <ion-card class="auth-card ion-margin">
              <h2>Encuesta de {{ encuesta.data.nombre }}</h2>
              <p>Nombre: {{ encuesta.data.nombre }}</p>
              <p>
                Nivel de satisfacción: {{ encuesta.data.nivelSatisfaccion }}
              </p>
              <p>
                Volveria a visitarnos:
                {{ encuesta.data.ofertasCorreo }}
              </p>
              <p>Primera visita: {{ encuesta.data.primeraVisita }}</p>
              <p>Valoración: {{ encuesta.data.valoracion }}</p>

              <div class="foto-scroll">
                <!-- Aquí deberías colocar el código para mostrar las tres fotos del producto -->
                <img
                  *ngFor="let fotoUrl of encuesta.data.fotos"
                  [src]="fotoUrl"
                  alt="Foto de la encuesta"
                />
              </div>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template [ngIf]="cargando">
  <app-spinner></app-spinner>
</ng-template>
