
<div *ngIf="!cargando && this.usuario.data.tipo==='Mozo'">
  <ion-card>
    <ion-card-content>
      <table class="tabla-pedidos"> 
        <!-- Cabecera de la tabla -->
        <thead>
          <tr>
            <th >N° Mesa</th>
            <th >Estado</th>
            <th >Acciones</th>
          </tr>
        </thead>
    
        <!-- Cuerpo de la tabla con datos de ejemplo -->
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <ng-container *ngIf="pedido.data.estado !== 'Entregado'">
              <td>{{ pedido.mesa.data.numeroMesa }}</td>
              <td>{{ pedido.data.estado }}</td>
              <td>
                <!-- Aquí puedes agregar botones u otras acciones para cada pedido -->
                <ion-button *ngIf="pedido.data.estado === 'NoConfirmado'" (click)="confirmar(pedido)">Confirmar</ion-button>
                <ion-button *ngIf="pedido.data.estadoComidas === 'Entregado' && pedido.data.estadoBebidas === 'Entregado'" (click)="entregarPedido(pedido)">Entregar</ion-button>
              </td>
            </ng-container>

          </tr>
        </tbody>
      </table>
      
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="!cargando && this.usuario.data.tipo==='cocinero'">
  <ion-card *ngFor="let pedido of pedidos">
    <ion-card-content *ngIf="pedido.data.estadoComidas !== 'Entregado' && pedido.data.estado !== 'NoConfirmado'">
      <table class="tabla-pedidos"> 
        <!-- Cabecera de la tabla -->
        <thead>
          <tr>
            <th >Cantidad</th>
            <th >Comida</th>
            <th ></th>
          </tr>
        </thead>
        <tbody>
        <ng-container >
          <ng-container>
            <ng-container *ngFor="let pedidoDetalle of pedido.data.pedido">
              <tr *ngIf="pedidoDetalle.producto.tipo === 'comida' || pedidoDetalle.producto.tipo === 'postre'">
                <td>
                  {{ pedidoDetalle.cantidad }}
                </td>
                <td>
                  {{ pedidoDetalle.producto.nombre }}
                </td>
                <td>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td colspan="3">
                <ion-button expand="full" *ngIf="pedido.data.estadoComidas !== 'Confirmado' && pedido.data.estadoComidas !== 'Entregado'" (click)="confirmarComida(pedido)">Confirmar</ion-button>
                <ion-button expand="full" *ngIf="pedido.data.estadoComidas === 'Confirmado'" (click)="entregarComida(pedido)">Entregar</ion-button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
      
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="!cargando && this.usuario.data.tipo==='bartender'">
  <ion-card  *ngFor="let pedido of pedidos">
    <ion-card-content *ngIf="pedido.data.estadoBebidas !== 'Entregado' && pedido.data.estado !== 'NoConfirmado'">
      <table class="tabla-pedidos"> 
        <!-- Cabecera de la tabla -->
        <thead>
          <tr>
            <th >Cantidad</th>
            <th >Comida</th>
          </tr>
        </thead>
    
        <!-- Cuerpo de la tabla con datos de ejemplo -->
        <tbody>
          <ng-container >
            <ng-container>
              <ng-container *ngFor="let pedidoDetalle of pedido.data.pedido">
                <tr *ngIf="pedidoDetalle.producto.tipo === 'bebida'">
                  <td>
                    {{ pedidoDetalle.cantidad }}
                  </td>
                  <td>
                    {{ pedidoDetalle.producto.nombre }}
                  </td>
                </tr>
              </ng-container>
              <tr>
                <td colspan="3">
                  <ion-button expand="full" *ngIf="pedido.data.estadoBebidas !== 'Confirmado' && pedido.data.estadoBebidas !== 'Entregado'"  (click)="confirmarBebida(pedido)">Confirmar</ion-button>
                  <ion-button expand="full" *ngIf="pedido.data.estadoBebidas === 'Confirmado'"  (click)="entregarBebida(pedido)">Entregar</ion-button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      
    </ion-card-content>
  </ion-card>
</div>


<ng-template [ngIf]="cargando">
  <app-spinner></app-spinner>
</ng-template>
