<ion-toolbar >
  <ion-title >Registro Clientes</ion-title>
  <ion-buttons slot="start">
    <ion-button color="dark" routerLink="/login">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <img src="../../../assets/splash/icono.png" alt="" height="auto" width="90%" style="margin-left: 5%;">
  <ion-button
    style="
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      --background: #d0a933;
    "
    expand="block"
    (click)="accesoAnonimo()"
    class="btnLogin animate__animated animate__backInLeft"
    >Inicio anonimo</ion-button
  >
  <ion-button
    style="
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      --background: #d0a933;
    "
    expand="block"
    (click)="registroCliente()"
    class="btnLogin animate__animated animate__backInLeft"
    >Registrarse</ion-button
  >
</ion-content>
