<ion-header style="background-color: #fefae0">
  <h1 style="text-align: center; margin-top: 10px; font-size: 170%">
    Registro Clientes
  </h1>
</ion-header>

<ion-content>
  <ion-button
    style="
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      --background: #d0a933;
    "
    expand="block"
    (click)="accesoAnonimo()"
    class="btnLogin animate__animated animate__backInLeft"
    >Inicio anonimo</ion-button
  >
  <ion-button
    style="
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      --background: #d0a933;
    "
    expand="block"
    (click)="registroCliente()"
    class="btnLogin animate__animated animate__backInLeft"
    >Registrarse</ion-button
  >
</ion-content>
