ion-toolbar {
  text-align: center;
  color: #000;
}
ion-header {
  color: #000;
}
ion-toolbar,
ion-card {
  --background: #fefae0;
}

ion-input,
ion-content,
ion-item {
  --background: #faedcd;
  color: #000;
}
