<ion-header>
  <ion-toolbar>
    <ion-title >Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-grid>
      <ion-row color="primary">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
          </div>
          <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
            <ion-card  class="auth-card ion-margin">
              <ion-button (click)="altaSupervisor()" style="width: 80%;margin-top: 5%;"> Alta dueño/supervisor </ion-button>
              <ion-button (click)="altaMesa()" style="width: 80%;margin-top: 5%;"> Alta mesa</ion-button>
              <ion-button (click)="verMesas()" style="width: 80%;margin-top: 5%;"> Listado mesas</ion-button>
              <ion-button (click)="altaEmpleados()" style="width: 80%;margin-top: 5%;"> Alta Empleados</ion-button>
              <ion-button (click)="salir()" style="width: 80%;margin-top: 5%;"> Salir </ion-button>
              <br><br>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>



