<ion-content>
  <ion-card *ngFor="let producto of productos">
    <ng-container>
      <qrcode
        [qrdata]="producto.nombre"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ng-container>
    <ion-card-content>
      <h2>{{ producto.nombre}}</h2>
      <p> descripcion: {{ producto.descripcion}}</p>
      <p>precio: {{ producto.precio}}</p>
      <p>tiempo: {{ producto.tiempo}} minutos</p>
    </ion-card-content>
    <!-- <ion-button  (click)="seleccionarProducto()" style="width: 80%;margin-top: 5%;"> seleccionar </ion-button> -->
  </ion-card>
</ion-content>