<ion-header>
  <ion-toolbar>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="start" *ngIf="indice === 1">
      <ion-button color="dark" (click)="atras()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="indice === 0">
  <ion-fab-button (click)="leerDocumento()">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content *ngIf="!cargando">
  <ion-grid>
    <ion-row color="primary">
      <!--<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
         <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <ion-card class="auth-card ion-margin">
            <ion-button
              (click)="irEncuestas()"
              style="width: 80%; margin-top: 5%"
            >
              Encuestas
            </ion-button>
          </ion-card>
        </div>
      </ion-col>-->
    </ion-row>
    <div *ngIf="indice === 0">
      <ion-row color="primary">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <img src="../../../assets/splash/icono.png" alt="" height="auto" width="90%" style="margin-left: 5%;">
          <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
            <!--<ion-card  class="auth-card ion-margin">
              <h2>Estado del pedido:</h2>
              <h3>{{estado}}</h3>
            </ion-card>-->
            <ion-card class="auth-card ion-margin">
              <ion-button
                (click)="verProductos()"
                *ngIf="usuario?.data?.habilitarCarta"
                style="width: 80%; margin-top: 5%"
              >
                Carta
              </ion-button>
              <ion-button
                (click)="chatMozo()"
                *ngIf="usuario?.data?.estadoMesa === 'Vinculada'"
                style="width: 80%; margin-top: 5%"
              >
                Consulta al Mozo
              </ion-button>
              <ion-button
                *ngIf="(usuario?.data?.habilitarJuegosEncuesta === true) && usuario?.data?.estadoMesa === 'Vinculada' "
                style="width: 80%; margin-top: 5%"
              ><!--miPedido?.data?.estado !== 'NoConfirmado'-->
                Juegos
              </ion-button>
              <ion-button
                *ngIf="(usuario?.data?.habilitarJuegosEncuesta === true) && usuario?.data?.estadoMesa === 'Vinculada' "
                style="width: 80%; margin-top: 5%"
              ><!--miPedido?.data?.estado !== 'NoConfirmado'-->
                Completar encuesta
              </ion-button>
              <ion-button
                *ngIf="usuario?.data?.enListaEspera === 'Espera' || usuario?.data?.estadoMesa === 'Vinculada' || usuario?.data?.estadoMesa === 'NoVinculada'"
                (click)="irEncuestas()"
                style="width: 80%; margin-top: 5%"
              >
                Encuestas
              </ion-button>
              <ion-button
                *ngIf="usuario?.data?.habilitarPedirCuenta && !miPedido.data.pagado"
                style="width: 80%; margin-top: 5%"
                (click)="pedirCuenta()"
              >
                Pedir cuenta
              </ion-button>
              <ion-button *ngIf="miPedido === null || miPedido === undefined"  (click)="salir()" style="width: 80%;margin-top: 5%;"> Salir </ion-button>
              <br /><br />
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <div *ngIf="indice === 1">
    <ion-row color="primary">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <ion-card class="auth-card ion-margin">
            <ion-button
              (click)="cargarPropina()"
              style="width: 80%; margin-top: 5%; margin-bottom: 5%"
            >
              Cargar propina
            </ion-button>
          </ion-card>
        </div>
      </ion-col>

      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div size-md="6" size-lg="5" size-xs="12">
          <ion-card style="padding: 3%" class="auth-card ion-margin">
            <h1>Detalle cuenta:</h1>
            <ion-card-content
              class="scroll-horizontal"
              style="background-color: white"
            >
              <table class="tabla-pedidos">
                <!-- Cabecera de la tabla -->
                <thead>
                  <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>

                <!-- Cuerpo de la tabla con datos de ejemplo -->
                <tbody>
                  <tr *ngFor="let detalle of detalles">
                    <ng-container>
                      <td>{{ detalle.cantidad }}</td>
                      <td>{{ detalle.producto }}</td>
                      <td>{{ detalle.precio }}</td>
                      <td>{{ detalle.subtotal }}</td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </ion-card-content>
            <h3>Descuentos: ${{ descuento }}</h3>
            <h3 *ngIf="!yaCargo">Propina: $ {{propina}}</h3>
            <h3 *ngIf="yaCargo">Propina ({{ propina }}%): ${{(total*(propina/100)).toFixed(2)}}</h3>
            <h3 *ngIf="yaCargo">Comentario: {{ comentario }}</h3>
            <h1>Total: ${{ (total*(1+(propina/100))).toFixed(2) }}</h1>
          </ion-card>
        </div>
      </ion-col>

      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <ion-card class="auth-card ion-margin">
            <ion-button
              (click)="pagar()"
              style="width: 80%; margin-top: 5%; margin-bottom: 5%"
            >
              Pagar
            </ion-button>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ng-template [ngIf]="cargando">
  <app-spinner></app-spinner>
</ng-template>
