<ion-header>
  <ion-toolbar>
    <ion-title>Asignar mesasss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding *ngIf="!cargando">
  <ion-grid>
    <ion-row color="primary">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center></div>
        <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <ion-card class="auth-card ion-margin">
            <ion-button (click)="atras()" style="width: 80%; margin-top: 5%">
              Atrás
            </ion-button>
            <br /><br />
          </ion-card>
        </div>
        <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <ion-card class="auth-card ion-margin">
            <ion-list>
              <ion-item
                *ngFor="let anonimo of AnonimosPendientes"
                style="margin: 5%"
              >
                <ion-avatar slot="start">
                  <img [src]="anonimo.data.foto" />
                </ion-avatar>
                <ion-label>{{ anonimo.data.nombre }}</ion-label>
                <ion-button (click)="verCliente(anonimo)">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card>
        </div>

        <div *ngIf="indice === 3">
          <ion-toolbar>
            <ion-title>Mesas disponibles:</ion-title>
          </ion-toolbar>
          <app-listado-mesas
            [mostrarSeleccionar]="true"
            (mesaSeleccionada)="mesaSeleccionada($event)"
          ></app-listado-mesas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template [ngIf]="cargando">
  <app-spinner></app-spinner>
</ng-template>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
