<div class="container-fluid p-5 text-center text-light">
  <div class="row mt-10">
    <h2 class="puntaje">PUNTAJE: {{ puntaje }}</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 mx-2">
      <h1 class="titulo">Anterior</h1>
      <img
        src="{{ cartaAnterior }}"
        class="carta"
        *ngIf="cartaAnterior !== ''"
      />
      <img
        src="assets/Cartas/reverso.png"
        class="carta"
        *ngIf="cartaAnterior === ''"
      />
    </div>
    <div class="col-4 mx-2">
      <h1 class="titulo">Nueva</h1>
      <img src="{{ cartaNueva }}" class="carta" />
    </div>
  </div>
  <div class="row">
    <h2 class="titulo">¿Qué saldrá en la próxima carta?</h2>
  </div>
  <div class="row mt-10">
    <button
      type="button"
      class="boton btn-success mx-2"
      (click)="comprobar(true)"
    >
      MAYOR
    </button>
    <h2 class="titulo">-</h2>
    <button
      type="button"
      class="boton btn-danger mx-2"
      (click)="comprobar(false)"
    >
      MENOR
    </button>
  </div>
</div>