<ion-header>
  <ion-toolbar>
    <ion-title>Alta de Mesa</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row color="primary">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center></div>
          <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
            <ion-card class="auth-card ion-margin">
              <div
                class="ion-align-items-center"
                style="background-color: #fefae0; margin-top: 5vh"
              >
                <div>
                  <img
                    [src]="imageElement"
                    class="m-1"
                    style="border-radius: 50%; width: 120px; height: 120px"
                  />
                </div>
              </div>
              

              <ion-item style="width: 80%;margin-left: 10%;margin-top: 5%;">
                <ion-label position="fixed" >Comensales</ion-label>
                <ion-input type="number" formControlName="comensalesMesa" name="comensalesMesa" [class]="isValidField('comensalesMesa')"></ion-input> 
              </ion-item>

              <ion-item style="width: 80%;margin-left: 10%;margin-top: 5%;">
                <ion-select label="Tipo"  interface="popover" formControlName="tipoMesa" name="tipoMesa">
                  <ion-select-option value="vip">Vip</ion-select-option>
                  <ion-select-option value="discapacitados">Discapacitados</ion-select-option>
                  <ion-select-option value="estandar">Estandar</ion-select-option>
                  <ion-select-option value="celebracion">Celebración</ion-select-option>
                  <ion-select-option value="ninios">Niños</ion-select-option>
                </ion-select>
              </ion-item>              

              <ion-item style="width: 80%;margin-left: 10%;margin-top: 5%;">
                <ion-label position="fixed" >N° mesa</ion-label>
                <ion-input type="number" formControlName="numeroMesa" name="numeroMesa" [class]="isValidField('numeroMesa')"></ion-input> 
              </ion-item>

              <br />
            </ion-card>
          </div>
          <div padding>
            <div padding>
              <ion-button
                class="ion-margin-start ion-margin-end ion-margin-bottom"
                size="large"
                style="margin-left: 25%; width: 50%"
                (click)="registrar()"
                >Confirmar</ion-button
              >
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="tomarFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template [ngIf]="cargando">
  <app-spinner></app-spinner>
</ng-template>
