<ion-content>
  <ion-card *ngFor="let mesa of mesas">
    <ng-container>
      <qrcode
        [qrdata]="mesa.numeroMesa.toString()"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ng-container>
    <ion-card-content>
      <h2>{{ mesa.tipoMesa }}</h2>
      <p>Número de Mesa: {{ mesa.numeroMesa }}</p>
      <p>Cantidad de Comensales: {{ mesa.comensalesMesa }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template [ngIf]="cargando">
  <app-spinner></app-spinner>
</ng-template>
