<ion-content>
  <ion-button  routerLink="/login"></ion-button>
  <form (ngSubmit)="enviarEncuesta()" style="background-color: #faedcd">
    <ion-grid style="background-color: #faedcd;">
      <ion-row color="primary">
        <ion-col align-self-center size-md="8" size-lg="6" size-xs="12">
          <ion-card class="auth-card ion-margin" >
            <ion-list style="padding: 10px;">
              <ion-row>
                <ion-col>
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" [(ngModel)]="encuesta.nombre" placeholder="Nombre del cliente" style="margin-bottom: 20px;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label for="opinion">Opinión:</label>
              <textarea id="opinion" name="opinion" [(ngModel)]="encuesta.opinion" placeholder="Escribe tu opinión" style="margin-bottom: 20px;"></textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label for="valoracion">Valoración de atención:</label>
              <input type="range" id="valoracion" name="valoracion" [(ngModel)]="encuesta.valoracion" min="0" max="10" style="margin-bottom: 30px;">
              <span>{{ encuesta.valoracion }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
          
              <label for="fotos" style="display: block; margin-bottom: 20px;">Subir fotos (máx. 3):</label>
              <button (click)="tomarFoto()">Tomar Foto</button>

              <input type="file" id="fotos" name="fotos" (change)="agregarFoto($event)" accept="image/*" multiple style="margin-bottom: 30px;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
               <!-- Radio (Nivel de Satisfacción) -->
              <label for="nivel-satisfaccion">Nivel de Satisfacción con la comida:</label>
              <div>
                <input type="radio" id="muySatisfecho" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion" value="5">
                <label for="muySatisfecho">Muy Satisfecho</label>
                <input type="radio" id="satisfecho" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion" value="4">
                <label for="satisfecho"> Satisfecho</label>
                <input type="radio" id="normal" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion" value="3">
                <label for="normal">normal</label>
                <input type="radio" id="regular" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion" value="2">
                <label for="regular">Regular</label>
                <input type="radio" id="pesimo" name="nivelSatisfaccion" [(ngModel)]="encuesta.nivelSatisfaccion" value="1">
                <label for="pesimo"> Pesimo</label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label for="ofertas" style="margin-bottom: 20px;">¿Volverias a visitaros?</label>
              <input type="checkbox" id="ofertas" name="ofertas" [(ngModel)]="encuesta.ofertasCorreo">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label>¿Es la primera vez que nos visitas?</label>
              <select id="primera-visita" name="primeraVisita" [(ngModel)]="encuesta.primeraVisita" style="margin-bottom: 30px;">
                <option value="si">Sí</option>
                <option value="no">No</option>
              </select>
            </ion-col>
          </ion-row>
          
              <button type="submit" style="width: 100%; margin-top: 30px;">Enviar Encuesta</button>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
