<ion-content [style.visibility]="content_visibility" class="container">
  <div class="alta-cliente-form">
    <h2>Alta de Cliente</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="formulario">
      <div class="form-group">
        <label for="clienteName">Nombre del Cliente:</label>
        <input
          type="text"
          id="clienteName"
          placeholder="Nombre"
          formControlName="clienteName"
        />
        <div *ngIf="form.controls['clienteName'].errors != null">
          <small
            class="invalid"
            *ngIf="
              form.controls['clienteName'].errors!['required'] &&
              form.controls['clienteName'].touched
            "
            >Debe ingresar el nombre del Cliente..</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="anonimo">¿Anónimo?</label>
        <input type="checkbox" id="anonimo" formControlName="esAnonimo" />
      </div>
      <div class="form-group" *ngIf="!form.controls['esAnonimo'].value">
        <label for="clienteLastName">Apellido del Cliente:</label>
        <input
          type="text"
          id="clienteLastName"
          placeholder="Apellido"
          formControlName="clienteLastName"
        />
        <div *ngIf="form.controls['clienteLastName'].errors != null">
          <small
            class="invalid"
            *ngIf="
              form.controls['clienteLastName'].errors!['required'] &&
              form.controls['clienteLastName'].touched
            "
            >Debe ingresar el apellido del Cliente..</small
          >
        </div>
      </div>
      <div class="form-group" *ngIf="!form.controls['esAnonimo'].value">
        <label for="clienteDni">Dni del Cliente:</label>
        <input
          type="text"
          id="clienteDni"
          placeholder="Dni"
          formControlName="clienteDni"
        />
        <div *ngIf="form.controls['clienteDni'].errors != null">
          <small
            class="invalid"
            *ngIf="
              form.controls['clienteDni'].errors!['required'] &&
              form.controls['clienteDni'].touched
            "
            >Debe ingresar el dni del Cliente..</small
          >
        </div>
      </div>
      <button type="submit" class="ion-margin">Guardar Cliente</button>
      <ion-button expand="block" class="ion-margin" (click)="leerDocumento()">
        Scan QR Code
      </ion-button>
    </form>

    <ion-item *ngIf="scannedResult">
      <ion-label class="ion-text-wrap"
        >Scanned Result: {{ scannedResult }}</ion-label
      >
    </ion-item>
  </div>
</ion-content>
